html,
body,
div,
span,
applet,
object,
iframe,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

*[hidden] {
  display: none;
}
body {
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* font-family: "Manrope", serif; */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.logo-text {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #121417;
}

.logo-span {
  color: #4dc274;
}
.navigation-item {
  font-family: 'Manrope', serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.navigation-list {
  gap: 20px;
  display: none;
}
@media screen and (min-width: 1024px) {
  .navigation-list {
    display: flex;
  }
}
.socials-img {
  width: 28px;
  height: 28px;
}

.socials-item {
  width: 44px;
  height: 44px;
  border: 2px solid #1214171a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-item:hover {
  border-color: #4dc274;
  color: #4dc274;
}

.socials-list {
  display: none;
}

@media screen and (min-width: 1024px) {
  .socials-list {
    display: flex;
    gap: 12px;
  }
}

.mob-menu {
  width: 32px;
  height: 32px;
  display: block;
}
@media screen and (min-width: 1024px) {
  .mob-menu {
    display: none;
  }
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navigation-item:hover {
  color: #4dc274;
  cursor: pointer;
}

.hero-wrap {
  /* background: url("./images/hero_background.webp"), linear-gradient(95.97deg, rgba(0, 0, 0, 0.4) 36.36%, rgba(0, 0, 0, 0) 51.43%); */
  background: linear-gradient(95.97deg, rgba(0, 0, 0, 0.4) 36.36%, rgba(0, 0, 0, 0) 51.43%),
    url('./images/hero_background.webp');
  position: relative;
  background-position: center;
  height: 629px;
  background-size: cover;
  padding: 164px 20px;
}
@media screen and (min-width: 768px) {
  .hero-wrap {
    padding: 164px 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-wrap {
    padding: 164px 64px;
  }
}

.hero-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: white;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 60px;
    line-height: 70px;
    width: 488px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-title {
    width: 564px;
  }
}
.hero-title-span {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: #bee8cc;
}
@media screen and (min-width: 768px) {
  .hero-title-span {
    font-family: 'Manrope', serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #bee8cc;
  }
}

.main-button {
  background-color: #4dc274;
  color: white;

  border-radius: 12px;
  display: block;
  padding: 16px 64px;
  /* width: 306px; */
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .main-button {
    font-size: 18px;
    line-height: 28px;
    width: 306px;
  }
}

.main-button:hover {
  border: 1px solid #4dc274;
  background-color: transparent;
  color: #4dc274;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  bottom: 32px;
  right: 32px;
}
@media screen and (min-width: 768px) {
  .arrow-button {
    width: 48px;
    height: 48px;
  }
}

/* aboutUs */

.aboutUs-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #121417;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-witdh: 768px) {
  .aboutUs-title {
    font-size: 40px;
    line-height: 48px;
  }
}
.aboutUs-description {
  color: #12141780;
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-witdh: 768px) {
  .aboutUs-description {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 64px;
  }
}

.card-number {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #4dc274;
  margin-bottom: 16px;
}

.card-text {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.aboutUs-card {
  width: 100%;
  background-color: #f3f5f6;
  padding: 32px;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .aboutUs-card {
    width: 336px;
  }
}
/* відстань від картки до картки 32 пх
між ними 32пх

 */
.woman {
  display: block;
  width: 254px;
  height: auto;
}
.woman-card {
  border-radius: 30px;
  background-color: #4dc274;
  padding: 70px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .woman-card {
    padding: 16px 28px;
  }
}

.cards-wrap {
  /* display: flex;
  gap: 32px;
  margin-top: 40px; */
}

.aboutUs-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .aboutUs-list {
    display: flex;
  }
}
.aboutUs-section {
  padding-top: 96px;
}

/* lessons

 */

.lessons-subtitle {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 18x;
  line-height: 30px;
  color: #12141780;
  padding-bottom: 64px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.lessons-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  color: #121417;
  margin-bottom: 16px;
  text-align: center;
  margin-bottom: 16px;
}
.item-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #121417;
  margin-bottom: 16px;
  text-align: center;
}
.item-price {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #121417;
  margin-bottom: 16px;
  text-align: center;
}
.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #12141780;
  margin-bottom: 16px;
  text-align: center;
}

.item-buttons {
  background-color: #4dc274;
  color: #ffffff;
  border-radius: 12px;
  padding: 16px 39px;
  width: 100%;
  display: block;
  text-align: center;
}

.item-buttons:hover {
  border: 1px solid #4dc274;
  background-color: white;
  color: #4dc274;
}
.lessons {
  padding: 150px;
}

.lessons-list-item {
  border-radius: 30px;
  padding: 32px;
  width: 320px;
  border: 1px solid;
  color: #4dc274;
}

.lessons-list {
  display: flex;
  gap: 32px;
}

.green-card {
  background-color: #4dc274;
}
.white-color {
  color: #ffffffb2;
}

.white-border {
  border: 1px solid #ffffffb2;
}

/* package */
.package-wrap {
  background: linear-gradient(84.6deg, #4dc274 2.25%, #bee8cc 131.25%);
  padding: 64px;
  border-radius: 30px;
  padding-bottom: 120px;
}
.package-title {
  color: white;
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 134px;
}
.package-text-span {
  color: #bee8cc;
}

.package-info-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #121417;
  margin-bottom: 40px;
}

.package-svg {
  width: 28px;
  height: 28px;
}

.package-books {
  width: 150px;
  height: auto;
}
.package-list-item {
  display: flex;
}
.package-text {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #121417;

  padding-left: 44px;
  margin-bottom: 18px;
}

.package-button {
  background-color: #4dc274;
  width: 306px;
  height: 60px;
  border-radius: 12px;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 16px;
  font-family: 'Manrope', serif;
  font-size: 700;
  font-weight: 18px;
}

.package-button:hover {
  border: 1px solid #4dc274;
  color: #4dc274;
  background-color: white;
}

.package {
  padding-top: 150px;
}

.package-second-wrap {
  display: flex;
  position: relative;
  z-index: 10;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  align-items: center;
  gap: 30px;
  padding-right: 0;
}

.package-list {
  margin-bottom: 20px;
}
.package-bg-wrap {
  position: relative;
}
.package-bg1 {
  position: absolute;
  background-color: #d4fde1;
  top: 0;
  left: 0;
  transform: rotate(8deg);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  z-index: 2;
}
.package-bg2 {
  position: absolute;
  background-color: #ffffff80;
  top: 0;
  left: 0;
  transform: rotate(-11deg);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  z-index: 1;
}

/* Teachers */
.teachers-section {
  padding-top: 150px;
}

.teachers-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 16px;
  text-align: center;
}

.teachers-subtitle {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #12141780;
  margin-bottom: 64px;

  text-align: center;
}

.teachers-photo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.teachers-list-text {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #12141780;
  text-align: center;
  padding-bottom: 150px;
}
.teachers-list {
  display: flex;
  gap: 32px;
}

.teachers-name {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #121417;
  text-align: center;
  margin-bottom: 8px;
}

/* 
  comments */

.students-photo {
  width: 50px;
  height: 50px;
}
.comments-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #121417;
  text-align: center;
  margin-bottom: 16px;
}

.comments-subtitle {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #12141780;
  text-align: center;
  margin-bottom: 64px;
}

.comment-list-item {
  background-color: #f3f5f6;
  border-radius: 30px;
}

.students-name {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comment-cathegory {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff80;
}

.comment {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #12141780;

  padding: 0px 16px;
}

.comments-list {
  display: flex;
  gap: 32px;
}
.students {
  background-color: #4dc274;
  border-radius: 15px;
  padding: 14px 16px;

  display: flex;
  gap: 8px;
  align-items: center;
}

.comment-list-item {
  padding: 32px 16px;
}

.students-name {
  margin-bottom: 2px;
}

.students {
  margin-bottom: 32px;
}

.footer-logo-text {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: white;
}

.footer {
  background-color: #121417;
  padding-top: 64px;
}

.footer-logo-span {
  color: #4dc274;

  top: 50%;
  left: 50%;
}

.footer-contacts-description {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff99;
  margin-bottom: 4px;
}

.footer-contact:hover {
  color: #4dc274;
}

.footer-contact {
  font-family: 'Manrope', serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: white;
  margin-bottom: 16px;
  display: block;
}

.footer-logo-text {
  margin-bottom: 32px;
}

.comments {
  padding-bottom: 150px;
}

/* nav */

.nav-button {
  background-color: transparent;
  font-family: 'Manrope', serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.nav-button:hover {
  color: #4dc274;
}

.footer-socials-button {
  background-color: transparent;
  color: white;

  width: 44px;
  height: 44px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.nav-socials-list-item {
}

.nav-socials-list {
  display: flex;
  gap: 12px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-bottom: 20px;
}

.footer-socials-button:hover {
  color: #4dc274;
  border: 1px solid #4dc274;
}

/* contacts */

.contacts-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #121417;
  text-align: center;
  margin-bottom: 16px;
}

.contacts-subtitle {
  margin-bottom: 64px;
}

.contacts-subtitle {
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #12141780;
}

.contacts-main-div {
  display: flex;
  gap: 32px;
}

.contacts-input {
  display: block;
  width: 100%;
  border: 1px solid #1214171a;
  border-radius: 12px;
  font-family: 'Manrope', serif;
  outline: none;

  padding: 16px;
  margin-bottom: 18px;
}

.contacts-form-div {
  flex-grow: 1;
}

.contacts-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #121417;
}

.contacts-main-button {
  font-size: 18px;

  background-color: #4dc274;
  border-radius: 12px;
  display: block;
  width: 100%;
  padding: 16px;
  color: #ffffff;
  font-family: 'Manrope', serif;

  font-weight: 700;
  line-height: 28px;
  margin-top: 32px;
}
.contacts {
  padding-bottom: 150px;
}

.contacts-text {
  font-weight: 400;
  font-size: 14px;
  color: #12141780;
  margin-top: 16px;
}

.contacts-img-wrap {
  position: relative;
  width: 492px;
  height: 578px;
  background-image: url('./images/input-girl.png');
  background-color: #4dc274;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 492px;
}
.contacts-text-wrap {
  padding: 0 20px;
  position: absolute;
  left: 0px;
  bottom: 40px;
}

.contacts-img-text {
  font-family: 'Manrope', serif;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}

.contacts-img-description {
  font-family: 'Manrope', serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffffb2;
  text-align: center;
}

.to-top-button {
  font-size: 20px;
  color: #4dc274;
  border: 2px solid #4dc274;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight: 900;
  border-radius: 50%;
  background-color: transparent;
  padding: 15px 20px;
}
