html,
body,
div,
span,
applet,
object,
iframe,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

*[hidden] {
  display: none;
}
body {
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* font-family: "Manrope", serif; */
.container {
  width: 1024px;
  margin: 0 auto;
}

.logo-text {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #121417;
}

.logo-span {
  color: #4dc274;
}
.navigation-item {
  font-family: 'Manrope', serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.navigation-list {
  gap: 20px;
  display: flex;
}

.socials-img {
  width: 28px;
  height: 28px;
}

.socials-item {
  width: 44px;
  height: 44px;
  border: 2px solid #1214171a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-item:hover {
  border-color: #4dc274;
  color: #4dc274;
}

.socials-list {
  display: flex;
  gap: 12px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navigation-item:hover {
  color: #4dc274;
  cursor: pointer;
}

.hero-wrap {
  /* background: url("./images/hero_background.webp"), linear-gradient(95.97deg, rgba(0, 0, 0, 0.4) 36.36%, rgba(0, 0, 0, 0) 51.43%); */
  background: linear-gradient(95.97deg, rgba(0, 0, 0, 0.4) 36.36%, rgba(0, 0, 0, 0) 51.43%),
    url('./images/hero_background.webp');
  position: relative;

  height: 629px;
  background-size: cover;
  padding: 164px 64px;
}

.hero-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: white;
  margin-bottom: 32px;
  width: 564px;
}
.hero-title-span {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #bee8cc;
}

.main-button {
  background-color: #4dc274;
  color: white;

  border-radius: 12px;
  display: block;
  padding: 16px 64px;
}

.main-button:hover{
  border: 1px solid #4DC274;
  background-color:transparent;
  color: #4DC274;
}

.arrow-button {
  display: block;
  background-color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 32px;
  right: 32px;
}

/* aboutUs */

.aboutUs-title {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  color: #121417;
  margin-bottom: 16px;
  text-align: center;
}
.aboutUs-description {
  color: #12141780;
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.card-number {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #4dc274;
  margin-bottom: 16px;
}

.card-text {
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20x;
  line-height: 24px;
}
.aboutUs-card {
  width: 325px;
  background-color: #f3f5f6;
  padding: 32px;
  border-radius: 30px;
}
/* відстань від картки до картки 32 пх
між ними 32пх

 */
.woman {
  display: block;
  width: 254px;
  height: auto;
}
.woman-card {
  border-radius: 30px;
  background-color: #4dc274;
  padding: 70px 28px;
}

.cards-wrap {
  display: flex;
  gap: 32px;
  margin-top: 64px;
}

.aboutUs-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.aboutUs-section {
  padding-top: 96px;
}

/* lessons

 */

.lessons-subtitle {
  font-family: "Manrope", serif;
  font-weight: 400;
  font-size: 18x;
  line-height: 30px;
  color: #12141780;
  padding-bottom: 64px;
  text-align: center;
  width: 60%;
  margin: 0 auto;

}
.lessons-title{
  font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  color: #121417;
  margin-bottom: 16px;
  text-align: center;
  margin-bottom: 16px;

}
.item-title{
  font-family: "Manrope", serif;
  font-weight:700 ;
  font-size: 20px;
  line-height: 24px;
  color: #121417;
  margin-bottom: 16px;
  text-align: center;


  
  
  
  



}
.item-price{
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
color: #121417;
margin-bottom: 16px;
text-align: center;

}
.item-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
color: #12141780;
margin-bottom: 16px;
text-align: center;

}

.item-buttons{
  background-color: #4DC274;
  color: #FFFFFF;
  border-radius: 12px;
  padding: 16px 39px;
  width: 100%;

}


.item-buttons:hover{
  border: 1px solid #4DC274;
  background-color: white;
  color: #4DC274
  
}
.lessons{
  padding: 150px;


}



.lessons-list-item{
  border-radius: 30px;
  padding: 32px;
  width: 320px;
  border: 1px solid;
  color: #4DC274;
}


.lessons-list{
  display: flex;
  gap: 32px;
}


.green-card{
  background-color: #4DC274;
  
}
.white-color{
  color: #FFFFFFB2;
}

.white-border{
border: 1px solid #FFFFFFB2 ;

}


/* package */
  .package-wrap{
    background: linear-gradient(84.6deg, #4DC274 2.25%, #BEE8CC 131.25%);
    padding: 64px;
    border-radius: 30px;

  }
  .package-title{
    color: white;
    font-family: "Manrope", serif;
    font-weight: 700;
    font-size: 60px;
line-height: 70px;
margin-bottom: 134px;
  }
  .package-text-span{
    color: #BEE8CC;
  }
 

  .package-info-title{
    font-family: "Manrope", serif;
     font-weight: 700;
    font-size: 40px;
line-height: 48px;
color: #121417;
margin-bottom: 40px;

  }


  .package-svg{
    width: 28px;
    height: 28px;
  }

  .package-books{
    width:214px ;
    height:263px ;
   
    
  }
  .package-list-item{
    display: flex;
  }
  .package-text{
    font-family: "Manrope", serif; 
    font-weight: 700;
    font-size: 20px;
line-height: 24px;
color: #121417;


padding-left: 44px;
margin-bottom: 18px;






    

  }


  .package-button{
  background-color: #4DC274;
  width: 306px;
  height: 60px;
  border-radius:12px ;
  color: #FFFFFF;
  }


  .package-button:hover{
    border: 1px solid #4DC274;
color: #4DC274;
background-color: white
  }

  .package{
    padding-top: 150px;
  }

  .package-second-wrap{
    display: flex;
    background-color: white;
    padding: 64px;
    border-radius: 30px;
    align-items: center;
    gap: 70px;


  }

  .package-list{
    margin-bottom: 39px;

  }

  /* Teachers */
  .teachers-section{
    padding-top: 150px;
  }

  .teachers-title{

    font-family: "Manrope", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
    text-align: center;


  }

  .teachers-subtitle{
    font-family: "Manrope", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #12141780;
    margin-bottom: 64px;
    
    text-align: center;
    

  }

  .teachers-photo{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 16px;

  }
  .teachers-list-text{
    font-family: "Manrope", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #12141780;
    text-align: center;
    padding-bottom: 150px;

  }
  .teachers-list{
    display: flex;
    gap: 32px;
  }

  .teachers-name{   
    font-family: "Manrope", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #121417;  
    text-align: center;
    margin-bottom: 8px;

  }



/* 
  comments */

  .students-photo{
    width: 50px;
    height: 50px;
  }
  .comments-title{

    font-family: "Manrope", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #121417;  
    text-align: center;
    margin-bottom: 16px;



  }

  .comments-subtitle{
    font-family: "Manrope", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #12141780;  
    text-align: center;
    margin-bottom: 64px;

  }


  .comment-list-item{
    background-color: #F3F5F6;
    border-radius:30px ;
  }




  .students-name{
    font-family: "Manrope", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

  }



  .comment-cathegory{
    font-family: "Manrope", serif;
    font-weight: 400;
    font-size: 12px;
    line-height:  16px;
    color: #FFFFFF80;


  }

  .comment{
    
  
    font-family: "Manrope", serif;
    font-weight: 400;
    font-size: 16px;
    line-height:    24px;
    color: #12141780;

    padding: 0px 16px;

  }





  .comments-list{
    display: flex;
    gap: 32px;
  }
  .students{
    background-color: #4DC274;
    border-radius: 15px;
    padding: 14px 16px;

    display: flex;
    gap: 8px;
    align-items: center;
    
  }


  .comment-list-item{

    padding: 32px 16px;
  }


  .students-name{
    margin-bottom: 2px;
  }



  .students{
    margin-bottom: 32px;

  }

  .footer-logo-text{
    font-family: 'Manrope', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: white;
  
  }


  .footer{
    background-color: #121417;
    padding-top: 64px;
  }


  .footer-logo-span{
    color: #4DC274;
  }


  .footer-contacts-description{
    font-family: "Manrope", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF99;
    margin-bottom: 4px;
    

  }


  .footer-contact:hover{
    color: #4DC274;
  }


  .footer-contact{
    font-family: "Manrope", serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: white;
    margin-bottom: 16px;




  }


  .footer-logo-text{

    margin-bottom: 32px;

  }



  .comments{

    padding-bottom: 150px;
  }

  /* nav */

  .nav-button{
    background-color: transparent;
    font-family: 'Manrope', serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
   


  }


  .nav-button:hover{
    color: #4DC274;
  }

  .footer-socials-button{
    background-color: transparent;
    color: white;
             
    width: 44px;
    height: 44px;
    border: 2px solid  white;
    border-radius: 10px;
    display: flex;

    align-items: center;
    justify-content: center;

    }
  


  
  .nav-socials-list-item{
   
  
    
  
  }


  .nav-socials-list{
    display: flex;
    gap: 12px;
  }




  .footer-flex{
    display: flex;
    justify-content: space-between;

  }


  .nav-item{
    margin-bottom: 20px;
  }


  .footer-socials-button:hover{
    color: #4DC274;
    border:1px solid  #4DC274;
  }
  



  
  
  





  





 

